<div class="header-navbar">
  <a routerLink="/home" routerLinkActive="active" class="navbutton">Home</a>
  <a routerLink="/complex" routerLinkActive="active" class="navbutton">Complex</a>
  <a routerLink="/entity" routerLinkActive="active" class="navbutton">Entity</a>
  <a routerLink="/project" routerLinkActive="active" class="navbutton">Project</a>
  <a routerLink="/bimmodel" routerLinkActive="active" class="navbutton">Bim Model</a>
  <a routerLink="/admin" routerLinkActive="active" class="navbutton">Admin</a>
  <a routerLink="/dashboard" routerLinkActive="active" class="navbutton">Dashboard</a>
</div>


<p>
  header works!
</p>
