<div class="header-navbar">
  <button mat-button color="primary"><a routerLink="/home" routerLinkActive="active" class="navbutton">Home</a></button>
  <button mat-button color="primary"><a routerLink="/complex" routerLinkActive="active" class="navbutton">Complex</a></button>
  <button mat-button color="primary"><a routerLink="/entity" routerLinkActive="active" class="navbutton">Entity</a></button>
  <button mat-button color="primary"><a routerLink="/project" routerLinkActive="active" class="navbutton">Project</a></button>
  <button mat-button color="primary"><a routerLink="/bimmodel" routerLinkActive="active" class="navbutton">Bim Model</a></button>
  <button mat-button color="primary"><a routerLink="/admin" routerLinkActive="active" class="navbutton">Admin</a></button>
  <button mat-button color="primary"><a routerLink="/dashboard" routerLinkActive="active" class="navbutton">Dashboard</a></button>

  <div class="navright">
    <button mat-button color="primary"><a routerLink="/dashboard" routerLinkActive="active" class="navbutton"><i class="fas fa-th"></i></a></button>
    <button mat-button color="primary"><a routerLink="/dashboard" routerLinkActive="active" class="navbutton"><i class="fas fa-bell"></i></a></button>
    <button mat-button color="primary"><a routerLink="/dashboard" routerLinkActive="active" class="navbutton"><i class="fas fa-tasks"></i></a></button>
    <button mat-button color="primary"><a routerLink="/dashboard" routerLinkActive="active" class="navbutton">mail@mail.com</a></button>
    <button mat-button color="primary"><a routerLink="/dashboard" routerLinkActive="active" class="navbutton"><i class="fas fa-sign-out-alt"></i></a></button>
  </div>


</div>
